extends layout

block content
  h1= title
  div.hero
    p Welcome to #[em Local Resturant], this is a demo site of a resturant menu/inventory website.
    p This is built using Express.
  div.menu
    for category in categories 
      h2 #{category.name}
      div.items
        for item in items 
          if item.category==category.id
            div.item
              h3 #{item.name}
              p $#{item.price}
              div.item-instance
                - let count = 0
                div.status 
                  for iteminstance in iteminstances
                      
                    if iteminstance.item==item.id
                      - count += 1
                  
                        p #{iteminstance.status}
                          
                if count!=0
                  p Total items #{count}
                      
      hr
    div.count
      h2 Total Counts
      p Total Items: #{item_instance_count}
      p Total Available Items: #{available_item_instance_count}
