extends layout 

block content 

    h1= title 
    .items-list
        ul 
            each item in items_list
                .item  
                    li
                        if item.instance
                            .top-row 
                                a.name(href=item.url) #{item.title} 
                                p $#{item.price}
                            if item.description != null 
                                p.description #{item.description}
                        else 
                            .top-row 
                                p.name #{item.title} 
                                p $#{item.price}
                            if item.description != null 
                                p.description #{item.description}

                hr
            else 
                p There are no items in #{category.title}
