extends layout 

block content 
    .item-detail
        
        h1 #{item_info.title}

        .details
            p Price: $#{item_info.price}
            if item_info.description
                p Description: #{item_info.description} 
            else
                p Description: No description provided
        hr
        if item_info.instance
            .instances 
                h2 Instances
                .item-instances 
                    for instance in item_instances 
                        h3 
                            a(href=instance.url) #{instance.item.title}
                        p Status: #{instance.status}
                        p Time Made: #{instance.date_time}
                        hr

            